Exemplos e WSDL/WSDL/CitizenDocumentWsPort.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ama.pt/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CitizenDocumentWsService" targetNamespace="http://ama.pt/wsdl">
  <wsdl:types>
<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ama.pt/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema">
			
  <import namespace="http://ama.pt/wsdl" schemaLocation="http://documentos.eportugal.gov.pt/ama-docs-service-portlet/services/CitizenDocumentWsPort?xsd=citizendocumentws_schema2.xsd"/>
		
</schema>
  </wsdl:types>
  <wsdl:message name="shareDocumentWithSolicitor">
    <wsdl:part element="tns:shareDocumentWithSolicitor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithLawyerResponse">
    <wsdl:part element="tns:shareDocumentWithLawyerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDownloadAuthorization">
    <wsdl:part element="tns:getDownloadAuthorization" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithEntity">
    <wsdl:part element="tns:shareDocumentWithEntity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByEntityRequestResponse">
    <wsdl:part element="tns:getDocumentByEntityRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocument">
    <wsdl:part element="tns:addDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessDownloadAuthorizationList">
    <wsdl:part element="tns:getProcessDownloadAuthorizationList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentListResponse">
    <wsdl:part element="tns:getDocumentListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentLink">
    <wsdl:part element="tns:getDocumentLink" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToEntityAsEntityResponse">
    <wsdl:part element="tns:sendDocumentToEntityAsEntityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQRCodeDocumentFileResponse">
    <wsdl:part element="tns:getQRCodeDocumentFileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToSolicitorResponse">
    <wsdl:part element="tns:sendDocumentToSolicitorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithNotary">
    <wsdl:part element="tns:shareDocumentWithNotary" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToCitizenAsCitizenResponse">
    <wsdl:part element="tns:sendDocumentToCitizenAsCitizenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToCitizen">
    <wsdl:part element="tns:sendDocumentToCitizen" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithCitizen">
    <wsdl:part element="tns:shareDocumentWithCitizen" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentToEntityAsEntity">
    <wsdl:part element="tns:shareDocumentToEntityAsEntity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentFileResponse">
    <wsdl:part element="tns:getDocumentFileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateDocumentQRCodeResponse">
    <wsdl:part element="tns:generateDocumentQRCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToEntityAsEntity">
    <wsdl:part element="tns:sendDocumentToEntityAsEntity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptShareResponse">
    <wsdl:part element="tns:acceptShareResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentToEntityAsEntityResponse">
    <wsdl:part element="tns:shareDocumentToEntityAsEntityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptShare">
    <wsdl:part element="tns:acceptShare" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithLawyer">
    <wsdl:part element="tns:shareFolderWithLawyer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToEntity">
    <wsdl:part element="tns:sendDocumentToEntity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQRCodeDocumentFile">
    <wsdl:part element="tns:getQRCodeDocumentFile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithNotaryResponse">
    <wsdl:part element="tns:shareFolderWithNotaryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToLawyer">
    <wsdl:part element="tns:sendDocumentToLawyer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithSolicitorResponse">
    <wsdl:part element="tns:shareFolderWithSolicitorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithNotaryResponse">
    <wsdl:part element="tns:shareDocumentWithNotaryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentFromShareLink">
    <wsdl:part element="tns:getDocumentFromShareLink" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithCitizenResponse">
    <wsdl:part element="tns:shareFolderWithCitizenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateDocumentQRCode">
    <wsdl:part element="tns:generateDocumentQRCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDownloadAuthorizationResponse">
    <wsdl:part element="tns:getDownloadAuthorizationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithLawyerResponse">
    <wsdl:part element="tns:shareFolderWithLawyerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentAsCitizen">
    <wsdl:part element="tns:addDocumentAsCitizen" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithCitizenResponse">
    <wsdl:part element="tns:shareDocumentWithCitizenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToCitizenAsCitizen">
    <wsdl:part element="tns:sendDocumentToCitizenAsCitizen" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithEntity">
    <wsdl:part element="tns:shareFolderWithEntity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToLawyerResponse">
    <wsdl:part element="tns:sendDocumentToLawyerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToCitizenResponse">
    <wsdl:part element="tns:sendDocumentToCitizenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentAsCitizenResponse">
    <wsdl:part element="tns:addDocumentAsCitizenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithEntityResponse">
    <wsdl:part element="tns:shareDocumentWithEntityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithCitizen">
    <wsdl:part element="tns:shareFolderWithCitizen" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithSolicitor">
    <wsdl:part element="tns:shareFolderWithSolicitor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentLinkListResponse">
    <wsdl:part element="tns:getDocumentLinkListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToNotaryResponse">
    <wsdl:part element="tns:sendDocumentToNotaryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentFromShareLinkResponse">
    <wsdl:part element="tns:getDocumentFromShareLinkResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentLinkList">
    <wsdl:part element="tns:getDocumentLinkList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptSend">
    <wsdl:part element="tns:acceptSend" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessShareListResponse">
    <wsdl:part element="tns:getProcessShareListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithLawyer">
    <wsdl:part element="tns:shareDocumentWithLawyer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToNotary">
    <wsdl:part element="tns:sendDocumentToNotary" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithNotary">
    <wsdl:part element="tns:shareFolderWithNotary" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocument">
    <wsdl:part element="tns:getDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentResponse">
    <wsdl:part element="tns:addDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessSendList">
    <wsdl:part element="tns:getProcessSendList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToSolicitor">
    <wsdl:part element="tns:sendDocumentToSolicitor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareDocumentWithSolicitorResponse">
    <wsdl:part element="tns:shareDocumentWithSolicitorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentToEntityAsCitizenResponse">
    <wsdl:part element="tns:addDocumentToEntityAsCitizenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentResponse">
    <wsdl:part element="tns:getDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentLinkResponse">
    <wsdl:part element="tns:addDocumentLinkResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shareFolderWithEntityResponse">
    <wsdl:part element="tns:shareFolderWithEntityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptSendResponse">
    <wsdl:part element="tns:acceptSendResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentList">
    <wsdl:part element="tns:getDocumentList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessDownloadAuthorizationListResponse">
    <wsdl:part element="tns:getProcessDownloadAuthorizationListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentLink">
    <wsdl:part element="tns:addDocumentLink" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByEntityRequest">
    <wsdl:part element="tns:getDocumentByEntityRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentFile">
    <wsdl:part element="tns:getDocumentFile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentToEntityResponse">
    <wsdl:part element="tns:sendDocumentToEntityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentToEntityAsCitizen">
    <wsdl:part element="tns:addDocumentToEntityAsCitizen" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessSendListResponse">
    <wsdl:part element="tns:getProcessSendListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentLinkResponse">
    <wsdl:part element="tns:getDocumentLinkResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessShareList">
    <wsdl:part element="tns:getProcessShareList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CitizenDocumentWs">
    <wsdl:operation name="shareFolderWithCitizen">
      <wsdl:input message="tns:shareFolderWithCitizen" name="shareFolderWithCitizen" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithCitizenRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithCitizenRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareFolderWithCitizenResponse" name="shareFolderWithCitizenResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithCitizenResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithCitizenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentLink">
      <wsdl:input message="tns:addDocumentLink" name="addDocumentLink" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentLinkRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentLinkRequest">
    </wsdl:input>
      <wsdl:output message="tns:addDocumentLinkResponse" name="addDocumentLinkResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentLinkResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentLinkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptShare">
      <wsdl:input message="tns:acceptShare" name="acceptShare" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptShareRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptShareRequest">
    </wsdl:input>
      <wsdl:output message="tns:acceptShareResponse" name="acceptShareResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptShareResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptShareResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentFile">
      <wsdl:input message="tns:getDocumentFile" name="getDocumentFile" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFileRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFileRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentFileResponse" name="getDocumentFileResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFileResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentByEntityRequest">
      <wsdl:input message="tns:getDocumentByEntityRequest" name="getDocumentByEntityRequest" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentByEntityRequestRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentByEntityRequestRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentByEntityRequestResponse" name="getDocumentByEntityRequestResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentByEntityRequestResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentByEntityRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithEntity">
      <wsdl:input message="tns:shareDocumentWithEntity" name="shareDocumentWithEntity" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithEntityRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithEntityRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareDocumentWithEntityResponse" name="shareDocumentWithEntityResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithEntityResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithEntityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithLawyer">
      <wsdl:input message="tns:shareFolderWithLawyer" name="shareFolderWithLawyer" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithLawyerRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithLawyerRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareFolderWithLawyerResponse" name="shareFolderWithLawyerResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithLawyerResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithLawyerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessShareList">
      <wsdl:input message="tns:getProcessShareList" name="getProcessShareList" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessShareListRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessShareListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProcessShareListResponse" name="getProcessShareListResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessShareListResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessShareListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToEntity">
      <wsdl:input message="tns:sendDocumentToEntity" name="sendDocumentToEntity" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendDocumentToEntityResponse" name="sendDocumentToEntityResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocument">
      <wsdl:input message="tns:addDocument" name="addDocument" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:addDocumentResponse" name="addDocumentResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentAsCitizen">
      <wsdl:input message="tns:addDocumentAsCitizen" name="addDocumentAsCitizen" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentAsCitizenRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentAsCitizenRequest">
    </wsdl:input>
      <wsdl:output message="tns:addDocumentAsCitizenResponse" name="addDocumentAsCitizenResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentAsCitizenResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentAsCitizenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithSolicitor">
      <wsdl:input message="tns:shareFolderWithSolicitor" name="shareFolderWithSolicitor" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithSolicitorRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithSolicitorRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareFolderWithSolicitorResponse" name="shareFolderWithSolicitorResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithSolicitorResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithSolicitorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithLawyer">
      <wsdl:input message="tns:shareDocumentWithLawyer" name="shareDocumentWithLawyer" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithLawyerRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithLawyerRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareDocumentWithLawyerResponse" name="shareDocumentWithLawyerResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithLawyerResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithLawyerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithCitizen">
      <wsdl:input message="tns:shareDocumentWithCitizen" name="shareDocumentWithCitizen" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithCitizenRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithCitizenRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareDocumentWithCitizenResponse" name="shareDocumentWithCitizenResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithCitizenResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithCitizenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentList">
      <wsdl:input message="tns:getDocumentList" name="getDocumentList" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentListRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentListResponse" name="getDocumentListResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentListResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithEntity">
      <wsdl:input message="tns:shareFolderWithEntity" name="shareFolderWithEntity" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithEntityRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithEntityRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareFolderWithEntityResponse" name="shareFolderWithEntityResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithEntityResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithEntityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithSolicitor">
      <wsdl:input message="tns:shareDocumentWithSolicitor" name="shareDocumentWithSolicitor" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithSolicitorRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithSolicitorRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareDocumentWithSolicitorResponse" name="shareDocumentWithSolicitorResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithSolicitorResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithSolicitorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentLink">
      <wsdl:input message="tns:getDocumentLink" name="getDocumentLink" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentLinkResponse" name="getDocumentLinkResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQRCodeDocumentFile">
      <wsdl:input message="tns:getQRCodeDocumentFile" name="getQRCodeDocumentFile" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getQRCodeDocumentFileRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getQRCodeDocumentFileRequest">
    </wsdl:input>
      <wsdl:output message="tns:getQRCodeDocumentFileResponse" name="getQRCodeDocumentFileResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getQRCodeDocumentFileResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getQRCodeDocumentFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptSend">
      <wsdl:input message="tns:acceptSend" name="acceptSend" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptSendRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptSendRequest">
    </wsdl:input>
      <wsdl:output message="tns:acceptSendResponse" name="acceptSendResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptSendResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/acceptSendResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocument">
      <wsdl:input message="tns:getDocument" name="getDocument" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentResponse" name="getDocumentResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentFromShareLink">
      <wsdl:input message="tns:getDocumentFromShareLink" name="getDocumentFromShareLink" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFromShareLinkRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFromShareLinkRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentFromShareLinkResponse" name="getDocumentFromShareLinkResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFromShareLinkResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentFromShareLinkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToCitizen">
      <wsdl:input message="tns:sendDocumentToCitizen" name="sendDocumentToCitizen" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendDocumentToCitizenResponse" name="sendDocumentToCitizenResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentLinkList">
      <wsdl:input message="tns:getDocumentLinkList" name="getDocumentLinkList" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkListRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentLinkListResponse" name="getDocumentLinkListResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkListResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDocumentLinkListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithNotary">
      <wsdl:input message="tns:shareFolderWithNotary" name="shareFolderWithNotary" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithNotaryRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithNotaryRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareFolderWithNotaryResponse" name="shareFolderWithNotaryResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithNotaryResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareFolderWithNotaryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToLawyer">
      <wsdl:input message="tns:sendDocumentToLawyer" name="sendDocumentToLawyer" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToLawyerRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToLawyerRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendDocumentToLawyerResponse" name="sendDocumentToLawyerResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToLawyerResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToLawyerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessSendList">
      <wsdl:input message="tns:getProcessSendList" name="getProcessSendList" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessSendListRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessSendListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProcessSendListResponse" name="getProcessSendListResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessSendListResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessSendListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateDocumentQRCode">
      <wsdl:input message="tns:generateDocumentQRCode" name="generateDocumentQRCode" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/generateDocumentQRCodeRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/generateDocumentQRCodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:generateDocumentQRCodeResponse" name="generateDocumentQRCodeResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/generateDocumentQRCodeResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/generateDocumentQRCodeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithNotary">
      <wsdl:input message="tns:shareDocumentWithNotary" name="shareDocumentWithNotary" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithNotaryRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithNotaryRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareDocumentWithNotaryResponse" name="shareDocumentWithNotaryResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithNotaryResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentWithNotaryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToNotary">
      <wsdl:input message="tns:sendDocumentToNotary" name="sendDocumentToNotary" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToNotaryRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToNotaryRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendDocumentToNotaryResponse" name="sendDocumentToNotaryResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToNotaryResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToNotaryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessDownloadAuthorizationList">
      <wsdl:input message="tns:getProcessDownloadAuthorizationList" name="getProcessDownloadAuthorizationList" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessDownloadAuthorizationListRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessDownloadAuthorizationListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProcessDownloadAuthorizationListResponse" name="getProcessDownloadAuthorizationListResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessDownloadAuthorizationListResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getProcessDownloadAuthorizationListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDownloadAuthorization">
      <wsdl:input message="tns:getDownloadAuthorization" name="getDownloadAuthorization" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDownloadAuthorizationRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDownloadAuthorizationRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDownloadAuthorizationResponse" name="getDownloadAuthorizationResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDownloadAuthorizationResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/getDownloadAuthorizationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToSolicitor">
      <wsdl:input message="tns:sendDocumentToSolicitor" name="sendDocumentToSolicitor" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToSolicitorRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToSolicitorRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendDocumentToSolicitorResponse" name="sendDocumentToSolicitorResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToSolicitorResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToSolicitorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToCitizenAsCitizen">
      <wsdl:input message="tns:sendDocumentToCitizenAsCitizen" name="sendDocumentToCitizenAsCitizen" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenAsCitizenRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenAsCitizenRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendDocumentToCitizenAsCitizenResponse" name="sendDocumentToCitizenAsCitizenResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenAsCitizenResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToCitizenAsCitizenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentToEntityAsEntity">
      <wsdl:input message="tns:shareDocumentToEntityAsEntity" name="shareDocumentToEntityAsEntity" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentToEntityAsEntityRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentToEntityAsEntityRequest">
    </wsdl:input>
      <wsdl:output message="tns:shareDocumentToEntityAsEntityResponse" name="shareDocumentToEntityAsEntityResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentToEntityAsEntityResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/shareDocumentToEntityAsEntityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentToEntityAsCitizen">
      <wsdl:input message="tns:addDocumentToEntityAsCitizen" name="addDocumentToEntityAsCitizen" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentToEntityAsCitizenRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentToEntityAsCitizenRequest">
    </wsdl:input>
      <wsdl:output message="tns:addDocumentToEntityAsCitizenResponse" name="addDocumentToEntityAsCitizenResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentToEntityAsCitizenResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/addDocumentToEntityAsCitizenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToEntityAsEntity">
      <wsdl:input message="tns:sendDocumentToEntityAsEntity" name="sendDocumentToEntityAsEntity" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityAsEntityRequest" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityAsEntityRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendDocumentToEntityAsEntityResponse" name="sendDocumentToEntityAsEntityResponse" wsam:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityAsEntityResponse" wsaw:Action="http://ama.pt/wsdl/CitizenDocumentWs/sendDocumentToEntityAsEntityResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CitizenDocumentWsServiceSoapBinding" type="tns:CitizenDocumentWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="false"/>
    <wsp:PolicyReference URI="#CitizenDocumentWsServiceSoapBinding_WSAM_Addressing_Policy"/>
    <wsdl:operation name="acceptShare">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acceptShare">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acceptShareResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentLink">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDocumentLink">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDocumentLinkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithCitizen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareFolderWithCitizen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareFolderWithCitizenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentFile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentByEntityRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentByEntityRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentByEntityRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareDocumentWithEntity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareDocumentWithEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithLawyer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareFolderWithLawyer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareFolderWithLawyerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessShareList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProcessShareList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProcessShareListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendDocumentToEntity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentToEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentAsCitizen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDocumentAsCitizen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDocumentAsCitizenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithSolicitor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareFolderWithSolicitor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareFolderWithSolicitorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithLawyer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareDocumentWithLawyer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareDocumentWithLawyerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithCitizen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareDocumentWithCitizen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareDocumentWithCitizenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareFolderWithEntity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareFolderWithEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentLink">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentLink">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentLinkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithSolicitor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareDocumentWithSolicitor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareDocumentWithSolicitorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQRCodeDocumentFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getQRCodeDocumentFile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getQRCodeDocumentFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptSend">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acceptSend">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acceptSendResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentFromShareLink">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentFromShareLink">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentFromShareLinkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentLinkList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentLinkList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentLinkListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToCitizen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendDocumentToCitizen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentToCitizenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessSendList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProcessSendList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProcessSendListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToLawyer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendDocumentToLawyer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentToLawyerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareFolderWithNotary">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareFolderWithNotary">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareFolderWithNotaryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateDocumentQRCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateDocumentQRCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateDocumentQRCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentWithNotary">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareDocumentWithNotary">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareDocumentWithNotaryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDownloadAuthorization">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDownloadAuthorization">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDownloadAuthorizationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessDownloadAuthorizationList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProcessDownloadAuthorizationList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProcessDownloadAuthorizationListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToNotary">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendDocumentToNotary">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentToNotaryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToSolicitor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendDocumentToSolicitor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentToSolicitorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToCitizenAsCitizen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendDocumentToCitizenAsCitizen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentToCitizenAsCitizenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareDocumentToEntityAsEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shareDocumentToEntityAsEntity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shareDocumentToEntityAsEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentToEntityAsCitizen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDocumentToEntityAsCitizen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDocumentToEntityAsCitizenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentToEntityAsEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendDocumentToEntityAsEntity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentToEntityAsEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CitizenDocumentWsService">
    <wsdl:port binding="tns:CitizenDocumentWsServiceSoapBinding" name="CitizenDocumentWsPort">
      <soap:address location="http://documentos.eportugal.gov.pt/ama-docs-service-portlet/services/CitizenDocumentWsPort"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="CitizenDocumentWsServiceSoapBinding_WSAM_Addressing_Policy">
		<wsam:Addressing wsp:Optional="true">
			<wsp:Policy/>
		</wsam:Addressing>
	</wsp:Policy>
</wsdl:definitions>